* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: 'Mina', sans-serif;
}
body {
    min-width: 1vw;
    min-height: 100%;
    background: rgb(224, 228, 206);
    overflow-x: hidden;
}
/* slider */
.slider{
    width: 100%;
}
.slider img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/* recomended-tours */
.rec-tour-conteiner{
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    height: fit-content;
}
.rec-tour-text{
    font-size: 24px;
    text-align: center;
}
.tours-conteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
/*     align-items: stretch; */
    flex-basis: 22%;
    width: 100%;
    height: 550px;
}
.flex-element{
    position: relative;
    width: 300px;
    border: 1px black solid;
    min-height: 480px;

    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.flex-element a img{
    border-radius: 15px;
}
.flex-element .name{
    position: relative;
    bottom: 40px;
}
.flex-element p{
    left: 10px;
}
.flex-element .date{
    position: relative;
}
.flex-element .price{
    position: relative;
    color: orange;
    font-size: 24px;
}
.flex-element .people-count{
    position: absolute;
    bottom: 65px;
}
.flex-element button{
    position: absolute;
    bottom: 20px;
    left: 12%;
    width: 230px;
    height: 40px;
}
/* benefits */
.benefits{
    width: 100%;
    background: rgba(196, 196, 196, 1);
    min-height: 356px;
    padding-top: 30px;
}
.benefits-p1{
    font-size: 24px;
    text-align: center;
}
.benefits-p2{
    font-size: 20px;
    text-align: center;
    width: 100%;
}
/* flex-boxes */
.benefits-flexboxes{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: stretch;
    justify-content: space-between;
    margin-left: 55px;
    margin-right: 55px;
    padding-top: 40px;
}
.benefits-flexbox{
    position: relative;
    max-width: 220px;
    max-height: 170px;
}
.benefits-flexbox p{
    font-family: 'Jaldi', sans-serif;
    font-size: 16px;
    position: absolute;
    top: 70px;
    left: 15px;
}
/* footer */
footer{
    width: 100%;
    background-color: rgba(44, 43, 43, 1);
}
footer div{
    padding: 55px 30px 55px 30px;

    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
footer div a{
    text-decoration: none;
    color: white;
    margin-right: 40px;
}
footer div a:first-child{
    margin-right: 50px;
}
footer div a:hover{
    color:rgb(170, 168, 168);
}