header{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: hidden;
    background-color: rgba(246, 246, 246, 1);
    margin-bottom: 60px;
}
.header-navigate{
    min-height: 60px;
    display: flex;
}
.nav-image{
    height: 60px;
    width: 100px;
}
.navigate{
    padding-top: 19px;
    padding-bottom: 19px;
    width: 100%;
}
.navigate ul li{
    display: inline-block;
}
.navigate ul li a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
.navigate_right-div{
    margin-left: auto;
}
.navigate ul li a:hover{
    color: orange;
}