<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml"><head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/global/base.css">
    <link rel="stylesheet" href="/styles/global/nav-bar.css">
    <link rel="stylesheet" href="/styles/global/table-style.css">
    <title>Панель Адміністратора</title>
</head>
<body>
    <header th:insert="/global-blocks/header.html"></header>
    <div class="wrapper">
        <nav>
            <a href="/statistics/client">Статисника по клієнтах</a>
            <a href="/statistics/tour">Статисника по турам</a>
            <a href="/statistics/worker">Статисника по працівникам</a>
        </nav>

        <div>
            <p>Створити працівника</p>
            <form action="/adminPanel/createWorker" method="post">
                <input type="text" name="login" placeholder="Логін">
                <input type="text" name="password" placeholder="Пароль">
                <br>
                <input type="text" name="name" placeholder="ФІО">
                <input type="text" name="email" placeholder="Ел. почта">
                <input type="text" name="phone" placeholder="Моб. телефон">
                <select name="role">
                    <option th:each="role : ${roles}" th:value="${role.toDBFormat()}" th:text="${role.toDBFormat()}"></option>
                </select>
                <input type="submit" value="Створити">
            </form>
        </div>

        <div>
            <p>Змінити пароль співробітника</p>
            <form action="/adminPanel/changeWorkerPassword" method="post">
                <input type="text" name="login" placeholder="Логін">
                <input type="text" name="password" placeholder="Новий пароль">
                <input type="submit" value="Змінити пароль">
            </form>
        </div>

        <div>
            <p>Працівники</p>
            <table class="styled-table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>ФІО</th>
                    <th>Ел. пошта</th>
                    <th>Моб. телефон</th>
                    <th>Роль</th>
                    <th>Login</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "el : ${workerList}">
                    <td th:text="${el.id}"></td>
                    <td th:text="${el.name}"></td>
                    <td th:text="${el.email}"></td>
                    <td th:text="${el.phone}"></td>
                    <td th:text="${el.role}"></td>
                    <td th:text="${el.login}"></td>
                    <td>
                        <form action="/adminPanel/fireTheWorker" method="post">
                            <input type="text" th:value="${el.login}" name="login" style="visibility: hidden">
                            <input type="submit" value="Звільнити">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>