<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <h1>Tour Catalog</h1>
    <br/><br/>
    <br><br>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>DateStart</th>
            <th>DateEnd</th>
            <th>price</th>
            <th>pricePromotion</th>
            <th>description</th>
            <th>tourManagerId</th>
            <th>tourOperatorId</th>
            <th>locationCount</th>
        </tr>
        <tr th:each = "el : ${tours}">
            <td th:text="${el.id}"></td>
            <td th:text="${el.dateStart}"></td>
            <td th:text="${el.dateEnd}"></td>
            <td th:text="${el.price}"></td>
            <td th:text="${el.pricePromotion}"></td>
            <td th:text="${el.description}"></td>
            <td th:text="${el.workerId}"></td>
            <td th:text="${el.tourOperatorId}"></td>
            <td th:text="${el.locationCount}"></td>
            <td><a th:href="'/catalog/' + ${el.id}">Details</a></td>
        </tr>
    </table>
    <div th:if="${role}=='tour_manager'">
        <div>
            <p>Створення тура</p>
            <form action="/catalog/save" method="post">
                Дата початку<input type="date" name="dateStart"><br><br>
                Дата кінця<input type="date" name="dateEnd"><br><br>
                Ціна<input type="number" name="price" value="4555"><br><br>
                Ціна за знижкою<input type="number" name="priceWithPromotion" value="4400"><br><br>
                Опис<input type="text" name="description" value="descr"><br><br>
                Номер туроператора<input type="number" name="tourOperatorId" value="1"><br><br>
                Кількість локацій<input type="number" name="locationCount" value="1"><br><br>
                <input type="submit" value="Створити"><br><br>
            </form>
        </div>
        <br>
        <div>
            <p>Створення локації</p>
            <form action="/catalog/saveLocation" method="post">
                <input type="text" name="country" placeholder="Країна">
                <input type="text" name="city" placeholder="Місто">
                <input type="text" name="description" placeholder="Опис">
                <input type="submit" value="Створити">
            </form>
        </div>
        <br>
        <div>
            <p>Створення екскурсії</p>
            <form action="/catalog/saveExcursion" method="post">
                <select name="locationId">
                    <option th:each="el : ${allLocations}" th:value="${el.id}"
                            th:text="${el.country} + ' - ' + ${el.city}"></option>
                </select>
                <input type="text" name="contentType" placeholder="Тип контенту">
                <input type="number" name="countPlaces" placeholder="К-ть місць">
                <input type="text" name="placeName" placeholder="Назва місця">
            </form>
        </div>
        <br>
        <div>
            <p>Створення документу</p>
            <form action="/catalog/saveDocument" method="post">
                <select name="type">
                    <option th:each="el : ${documentTypes}" th:value="${el.toDBFormat()}"
                            th:text="${el.toDBFormat()}"></option>
                </select>
                <input type="text" name="name" placeholder="Назва документу">
                <input type="text" name="nameEng" placeholder="Назва документу англ.">
                <input type="submit" value="Зберегти">
            </form>
        </div>
    </div>
</body>
</html>