<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Documents</title>
</head>
<body>
  <div class="wrapper">
    <div>
      <ul>
        <li th:each="document : ${documents}" th:text="${document.id} + ' - ' + ${document.name}"></li>
      </ul>
    </div>
    <div>
      <form action="/documents/create" method="post">
        <input type="text" name = "name">
        <input type="submit" value="Створити">
      </form>
    </div>
  </div>
</body>
</html>