<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Дані учасників</title>
</head>
<body>
    <div>
        <form th:action="'/catalog/' + ${tourId} + '/addMembers/' + ${members_count} + '/processing'" method="post"
              th:if="${members_count} &gt; 0" name="passports">
            <div>
                <div th:each="i, itemStat : ${#numbers.sequence(2, members_count, 1)}">
                    Повне ім'я <input type="text" name="name" required><br><br>
                    Номер документа <input type="text" name="documentNumber" required><br><br>
                    Дійсний до <input type="date" name="dateOfExpiry" required><br><br>
                    Дата випуску <input type="date" name="dateOfIssue" required><br><br>
                </div>
            </div>
            <input type="submit" value="Надіслати">
        </form>
    </div>
</body>
</html>