<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Дані учасників</title>
</head>
<body>
    <div>
        <p>Завантажте фото документів, потрібних для оформлення тура</p>
        <form th:action="'/catalog/' + ${tourId} + '/addMembers/' + ${members_count} + '/processing'" method="post"
              enctype="multipart/form-data">
            <div th:each="i, itemStat : ${#numbers.sequence(1, members_count, 1)}">
                <p th:text="'Учасник ' + ${i}"></p>
                <input th:each="el : ${requiredTourDocumentList}"
                       name="requiredDocuments" type="file" th:placeholder="'Завантажте ' + ${el.name}"
                       accept="application/pdf, image/jpeg, image/png"><br>
            </div>
            <input type="submit" value="Завантажити">
        </form>
    </div>
</body>
</html>

