<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/global/base.css">
    <link rel="stylesheet" href="/styles/nav-bar.css">

    <title>Дані учасників</title>
</head>
<body>
    <header th:insert="/global-blocks/header.html"></header>
    <div class="wrapper">
        <p>Завантажте фото документів, потрібних для оформлення тура</p>
        <form th:action="'/catalog/' + ${tourId} + '/addMembers/' + ${members_count} + '/processing'" method="post"
              enctype="multipart/form-data">
            <div th:each="i, itemStat : ${#numbers.sequence(1, members_count, 1)}">
                <p th:text="'Учасник ' + ${i}"></p>
                <div th:each="el : ${requiredTourDocumentList}">
                    <input th:id="${el.tourDocumentId}"
                           name="requiredDocuments" type="file"
                           accept="application/pdf, image/jpeg, image/png">
                    <label th:for="${el.tourDocumentId}" th:text="'Завантажте ' + ${el.name}"></label><br>
                </div>
            </div>
            <input type="submit" value="Завантажити">
        </form>
    </div>
</body>
</html>

