<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaldi&family=Mina&display=swap" rel="stylesheet">    <title>One way</title>
</head>
<body>
    <div class="content">
        <header>
            <div class="header-navigate">
                <div class="nav-image">
                    <a href="/">
                        <img src="image/home/logo.png" alt="" width="100px" height="60px">
                    </a>
                </div>
                <nav class="navigate">
                    <ul>
                        <li>
                            <a href="/catalog">Каталог турів</a>
                        </li>
                        <li>
                            <a href="/promotions">Акції</a>
                        </li>
                        <li th:if="${role}=='manager'">
                            <a href="/requests">Заявки</a>
                        </li>
                        <li th:if="${role}=='client'" class="navigate_right">
                            <a th:href="'/cabinet/' + ${userId}">Особистий кабінет</a>
                        </li>
                        <li th:if="${role}=='guest'" class="navigate_right">
                            <a href="/login">Вхід</a>
                        </li>
                        <li th:unless="${role}=='guest'" class="navigate_right">
                            <a href="/logout">Вихід</a>
                        </li>
                    </ul>        
                </nav>
            </div>
    
        </header>
        <main>
            <div class="slider">
                <img src="image/home/slide.png" alt="" width="1366">
            </div>
            <div class="rec-tour-conteiner">
                <div class="rec-tour-text">
                    <p>Рекомендовані тури</p>
                </div>
                <div class="tours-conteiner">
                    <div class="flex-element">
                        <a href="">
                            <img src="image/home/UA_screen.jpg" alt="" width="298" height="240">
                        </a>
                        <p class="name">Ukraine</p>
                        <p class="date">date_start-date_end</p>
                        <p class="price">price</p>
                        <p class="people-count">За 1 людину</p>
                        <button type="submit">Детальніше</button>
                    </div>
                    <div class="flex-element">
                        <a href="">
                            <img src="image/home/italy_screen.jpg" alt="" width="298" height="240">
                        </a>
                        <p class="name">Italy</p>
                        <p class="date">date_start-date_end</p>
                        <p class="price">price</p>
                        <p class="people-count">За 1 людину</p>
                        <button type="submit">Детальніше</button>
                    </div>
                    <div class="flex-element">
                        <a href="">
                            <img src="image/home/egypt_screen.jpg" alt="" width="298" height="240">
                        </a>
                        <p class="name">Egypt</p>
                        <p class="date">date_start-date_end</p>
                        <p class="price">price</p>
                        <p class="people-count">За 1 людину</p>
                        <button type="submit">Детальніше</button>
                    </div>            
                    <div class="flex-element">
                        <a href="">
                            <img src="image/home/sweden_screen.jpg" alt="" width="298" height="240">
                        </a>
                        <p class="name">Sweden</p>
                        <p class="date">date_start-date_end</p>
                        <p class="price">price</p>
                        <p class="people-count">За 1 людину</p>
                        <button type="submit">Детальніше</button>
                    </div>                                        
                </div>
            </div>
            <div class="benefits">
                <p class="benefits-p1">Подорожуйте з нами</p>
                <p class="benefits-p2">Наш менеджер допоможе вам на всіх етапах відпочинку</p>
                <div class="benefits-flexboxes">
                    <div class="benefits-flexbox">
                        <p>Оберіть тур, залежно<br> від ваших побажань</p>
                        <div class="benefits-flexnox-image">
                            <img src="image/home/stages/stage1.png" alt="" width="220" height="170">
                        </div>
                    </div>
                    <div class="benefits-flexbox">
                        <p>Надішліть заявку, наш<br> менеджер забронює для<br> вас тур</p>
                        <div class="benefits-flexnox-image">
                            <img src="image/home/stages/stage2.png" alt="" width="220" height="170">
                        </div>
                    </div>
                    <div class="benefits-flexbox">
                        <p>Оплатіть тур будь-яким<br> чином(навіть тілом)</p>
                        <div class="benefits-flexnox-image">
                            <img src="image/home/stages/stage3.png" alt="" width="220" height="170">
                        </div>
                    </div>
                    <div class="benefits-flexbox">
                        <p>Отримайте документи<br> почтою або на email</p>
                        <div class="benefits-flexnox-image">
                            <img src="image/home/stages/stage4.png" alt="" width="220" height="170">
                        </div>
                        
                    </div>
                    <div class="benefits-flexbox">
                        <p>Насолоджуйтесь<br> відпочинком</p>
                        <div class="benefits-flexnox-image">
                            <img src="image/home/stages/stage5.png" alt="" width="220" height="170">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div>
                <a href="#">FAQ</a>
                <a href="#">Політика конфіденційності</a>
                <a href="#">Корпоративна Політика</a>
            </div>
        </footer>
    </div>
</body>
</html>