<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Особистий кабінет</title>
</head>
<body>
<div>
    <p>
        ID<span th:text="${client.id}"></span>
    </p>
    <i>ФІО</i>
    <p th:text="${client.name}"></p>
    <i>Електронна скринька</i>
    <p th:text="${client.email}"></p>
    <i>Номер телефону</i>
    <p th:text="${client.phone}"></p>
</div>
<div class="client-documents">
    <div>
        <i>certificate residence</i><br>
        <img th:attr="src=@{/image/{certificateResidence}(certificateResidence=${client.certificateResidence})}">
    </div>
    <div>
        <i>certificate covid</i><br>
        <img th:attr="src=@{/image/{certificateCovid}(certificateCovid=${client.certificateCovid})}">
    </div>
    <div>
        <i>passport</i><br>
        <img th:attr="src=@{/image/{passport}(passport=${client.passport})}">
    </div>
    </div>
</body>
</html>