<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Request ##</title>
</head>
<body>
<div class="wrapper" th:if="${role} eq 'manager'">
    <div class="request-container">
        <table border="1">
            <tr>
                <th>id</th>
                <th>Номер клієнта</th>
                <th>Статус</th>
                <th>Дата</th>
                <th>Номер тура</th>
<!--                <th>Номер менеджера</th>-->
                <th>Статус оплати</th>
            </tr>
            <tr>
                <form th:action="'/requests/admit/' + ${request.id}" method="post">
                    <td th:text="${request.id}" id="id1"></td>
                    <td><a th:text="${request.clientId}" th:href="'/cabinet/' + ${request.clientId}"></a></td>
                    <td>
                        <select class="form-control" id="dropDownList" name="status">
                            <option value="0">Не опрацьовано</option>
                            <option th:each="el_status : ${status_values}" th:value="${el_status}" th:text="${el_status}"></option>
                        </select>
                    </td>
                    <td th:text="${request.date}"></td>
                    <td th:text="${request.tourId}"></td>
<!--                    <td th:text="${request.managerId}"></td>-->
                    <td th:text="${request.paymentStatus}"></td>
                    <td>
                        <input type="submit" value="Надіслати">
                    </td>
                </form>
            </tr>
        </table>
    </div>

    <div class="client-data">
        <p>Особисті дані клієнта</p>
        <table border="1">
            <tr>
                <th>id</th>
                <th>ФІО</th>
                <th>Телефон</th>
                <th>Ел. скринька</th>
                <th>Баланс</th>
            </tr>
            <tr>
                <td th:text="${client.id}"></td>
                <td th:text="${passports.get(client.passportId).name}"></td>
                <td th:text="${client.phone}"></td>
                <td th:text="${client.email}"></td>
                <td th:text="${balance}"></td>
            </tr>
        </table>
    </div>

    <div class="passportList">
        <table>
            <tr>
                <th>id</th>
                <th>ФІО</th>
                <th>Номер документа</th>
                <th>Дійсний до:</th>
                <th>Дата випуску</th>
            </tr>
            <tr th:each="passport: ${passports}">
                <td th:text="${passport.id}"></td>
                <td th:text="${passport.name}"></td>
                <td th:text="${passport.documentNumber}"></td>
                <td th:text="${passport.dateOfExpiry}"></td>
                <td th:text="${passport.dateOfIssue}"></td>
            </tr>
        </table>
    </div>

    <div th:if="${role}=='manager'">
        <form th:action="'/requests/sendDocuments/' + ${request.id}" method="post">
            <button type="submit">Надіслати документи туроператору</button>
        </form>

        <div>
            <p>Зберегти файли клієнта в базі</p>
            <form th:action="'/requests/' + ${request.id} + '/saveTravelDocuments'" method="post"
                  enctype="multipart/form-data">
                <select name="passportId">
                    <option value=0>Не обрано</option>
                    <option th:each="passport : ${passports}" th:value="${passport.id}"
                            th:text="${passport.name}"></option>
                </select><br>
                <p>Страховий поліс</p>
                <input type="file" accept="application/pdf, image/jpeg, image/png" name="insurance">
                <p>Ваучер(-и)</p>
                <input type="file" accept="application/pdf, image/jpeg, image/png" name="vouchers" multiple>
                <p>Квиток(-и)</p>
                <input type="file" accept="application/pdf, image/jpeg, image/png" name="tickets" multiple>

                <script src="../static/js/request-details.js"></script>
                <br>
                <input type="submit" value="Надіслати">
            </form>

            <p>Надіслати клієнту документи для подорожі</p>
            <form th:action="'/requests/' + ${request.id} + '/sendTravelDocuments'" method="post">
                <input type="submit" value="Надіслати">
            </form>
        </div>
    </div>
</div>

</body>
</html>